<!DOCTYPE html>
<html>
  <head>
    <title>IceCreamShop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= link_to "Flavors Index", "/flavors" %>
    <br>
    <%= link_to "Ice Cream Shops Index", "/ice_cream_shops" %>

    <%= yield %>
  </body>
</html>
